# Path to your local music library
MUSIC_LIBRARY_PATH=C:\Music

# Beefweb API Connection (Defaults)
BEEFWEB_URL=http://localhost:8880
BEEFWEB_USER=GoogleFlash
BEEFWEB_PASS=djextension

# Optional: Log Level (info, debug, error)
LOG_LEVEL=info
